<h2><%= product.name %></h2>

<div>
  <div>
    <img src=<%= product.image%> alt=<%= product.name %>>
  </div>
  <div>
    <p>Description: </p>
    <p><%= product.description %></p>
    <p>Price: <%= product.price %></p>
    <a href="/products">Go back</a>
  </div>
</div>